body {
    background-color: #121212;
    margin: 45px;
    padding: 0px;
}

* {
    text-decoration: none;
    font-family: patricstar;
    list-style-type: none;
}

@font-face {
    font-family: patricstar;
    src: url(PatrickHand-Regular.ttf);
}

h1 {
    color: #ededed;
    text-align: center;
    font-size: 100px;
}

button {
    color: #000;
    background-color: #0ff;
    border-radius: 10px;
    margin: 25 0 0 0;
    padding: 0px;
    min-height: 40;
    min-width: 80;
    max-height: 40;
    max-width: 80;
    font-size: 15px;
}

textarea {
    color: #ededed;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: #fff;
    outline-color: #fff;
    outline: 0px;
    min-width: 80vh;
    min-height: 30vh;
    background-color: #121212;
    padding: 10px;
    vertical-align: top;
}

textarea::placeholder {
    color: #555;
}

ul li {
    max-width: 80px;
}

div {
    display: flex;
    justify-content: space-around;
    padding: 0 75;
    margin: 25 0 0 0;
}

.buttons {
    justify-content: center;
}

select {
    color: #000;
    background-color: #ededed;
    border-radius: 10px;
    margin: 0 35;
    padding: 0px;
    min-height: 40;
    min-width: 80;
    font-size: 15px;
}